@import '../../assets/colors.css';

.action-btn {
	padding: 0.8em 1.8em;
	background-color: var(--moderate-blue);
	outline: none;
	border: none;
	border-radius: 0.5rem;
	color: var(--white);
	text-transform: uppercase;
	font-weight: 500;
	cursor: pointer;
	transition: background-color 0.3s;
}

.action-btn:hover {
	background-color: var(--gray);
}

.action-btn:disabled {
	background-color: var(--light-grayish-blue);
	cursor: not-allowed;
}

.update-btn {
	margin-top: .8em;
}

.modal-cancel {
	background-color: var(--grayish-blue);
}

.modal-cancel:hover {
	background-color: var(--light-grayish-blue);
}

.modal-delete {
	background-color: var(--soft-red);
}

.modal-delete:hover {
	background-color: var(--pale-red);
}
