@import url('../assets/colors.css');

.form-btn {
	float: right;
}

@media (min-width: 992px) {
	.textarea {
		margin: 0 0.8em;
	}

	.avatar {
		order: -1;
	}

    .form-btn {
        align-self: flex-start;
    }
}
